<!DOCTYPE html>
<html>
    <head th:replace="shared/shared :: head" />
    <body>
        <header th:replace="shared/shared :: header"></header>
        <div class="container body-container">
        <div class="row row-cols-1 justify-content-center">
            <div class="card col-8 align-items-center text-center">
                <div class="card-body">
                    <h1 class="card-title">Error 403</h1>
                    <p class="card-text">No posees permisos para entrar a esta página</p>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
